<head>>
  <style>

    h1 {
      color: black;
     
    }

    h2, p {
      color: black;
    }

    
    .big {
      font-size: 28px;
          }

    .tiny { 
        font-size: 12px
    }

    .red {
      color: red;
    }

    .blue {
      color: blue;
    }

    .green {
      color: green;
    }

    .centered {
        text-align: center
    }
    
    .bold {
        font-weight: bold
    }
    .fontfamily {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .multiple {
        color: orange;
        font-weight: bold;
        font-size: 150%        
    }

    .styledFont {
        color: red;
        font-size: 150%;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #styledImage {
        border: 20px solid;
        border-style: dotted;
        border-top-color: red;
        border-bottom-color: black;
        border-left-color: blue;
        border-right-color: green;

    }
  </style>
</head>